#frontend
Web/parking_app/.next/
Web/parking_app/node_modules/
Web/parking_app/build_node/

#Movil
Movil/parking_app/.expo/
Movil/parking_app/node_modules/

#Backend
Backend/**/__pycache__/ 
Backend/config/.env
Backend/__init__.py
Backend/virtual/
